.d-block{
    margin-left: auto;
    margin-right: auto;
    height: 60rem;
    width: 60rem;
}
.slide
{
    display: block;
    margin-left: auto !important;
    margin-right: auto !important;
    max-width:fit-content;
}
.carousel-inner{
    width: 80rem;
    height: 50rem;
}